@using Validation.Web.Models
@model LoginViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

@using (Html.BeginForm("LoginConfirmation", "Users"))
{
    <div class="formInputGroup">
        @Html.Label("Email", "Email")
        @Html.TextBoxFor(m => m.Email)
    </div>
    <div class="formInputGroup">
        @Html.Label("Password", "Password")
        @Html.TextBoxFor(m => m.Password)
    </div>
    <div>
        <br />
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
}